/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/assets
/storage/*.key
/storage/*.log
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
